<html>
    <head>
        <meta charset="utf-8">
        <script src='https://cdn.bootcss.com/echarts/3.7.0/echarts.simple.js'></script>
        <script th:src='@{/js/wordcloud/echarts-wordcloud.js}'></script>
    </head>
    <body>
        <style>
            html, body, #main {
                width: 100%;
                height: 100%;
                margin: 0;
            }
        </style>
        <div id='main'></div>
        <script th:inline="javascript">
        var data = [[${data}]];
         data =JSON.parse(data);

        </script>
         <script>
        var chart = echarts.init(document.getElementById('main'));
        option = {
        	    color: ['#3398DB'],
        	    tooltip: {
        	        trigger: 'axis',
        	        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
        	            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        	        }
        	    },
        	    grid: {
        	        left: '3%',
        	        right: '4%',
        	        bottom: '3%',
        	        containLabel: true
        	    },
        	    xAxis: [
        	        {
        	            type: 'category',
        	            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        	            axisTick: {
        	                alignWithLabel: true
        	            }
        	        }
        	    ],
        	    yAxis: [
        	        {
        	            type: 'value'
        	        }
        	    ],
        	    series: [
        	        {
        	            name: '直接访问',
        	            type: 'bar',
        	            barWidth: '60%',
        	            data: [10, 52, 200, 334, 390, 330, 220]
        	        }
        	    ]
        	};
    
        chart.setOption(option);

        window.onresize = chart.resize;
    </script>
</body>

</html>