<!DOCTYPE html>

<html>

<head>
<script type="text/javascript"
	th:src="@{/js/jquery/jquery-1.11.1.min.js}"></script>
<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>
	layui.config({
		base : '/layuiadmin/' //静态资源所在路径
	}).extend({
		index : 'lib/index' //主入口模块
	}).use(
			[ 'index', 'user' ],
			function() {
			  
				
				//als推荐
					$.ajax({
					url : '/alsRecommend',
					type : 'get',
					success : function(data) {
						console.log(data);
						$.each(data, function(index, item) {
							console.log(item.title);
							$('#demo4').append(
									"<a href=/getAllNews?id="+item.movieId+"><li> <h3>" + item.title + "</h3>"
											+ "<p>" + item.genres
											+ " </p><span>ID:为" + item.movieId
											+ "</span></li></a>")
						})
					},
					error : function() {
						alert("失败")
					}
				})
			})
			
			
</script>

<meta charset="utf-8">
<title>layuiAdmin 主页示例模板二</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet"
	th:href="${#httpServletRequest.getContextPath()}+'/layuiadmin/layui/css/layui.css'"
	media="all">
<link rel="stylesheet"
	th:href="${#httpServletRequest.getContextPath()}+'/layuiadmin/style/admin.css'"
	media="all">

</head>

<body>

	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
 
			<div class="layui-col-sm5"  >
				<div class="layui-card">
					<div class="layui-card-header">ALS隐语义模型(交叉最小二乘)推荐</div>
					<div class="layui-card-body">
						<ul id="demo4"
						class="layuiadmin-card-status layuiadmin-home2-usernote">
							<li>
							</li>
						</ul>
					</div>
				</div>
			</div>


		</div>
	</div>
	</div>
</body>
</html>